<div class="heading">Edit Labels</div>
<div fxLayout="row">

    <mat-icon (click)="toggleIcon()">{{icon}}</mat-icon>
    <input autocomplete="off" matInput (click)="toggleIcon()" placeholder="Create new label" class="name"
        [formControl]="label">
    <img class="checkImage" *ngIf="!show" src="../../assets/images/outline-check.svg" (click)="createLabel()">
</div>

<div *ngFor="let details of labels">
    <div fxFlex='100' fxLayout="row" class="row">
        <div fxFlex="16">
            <app-delete [label]="details"></app-delete>
        </div>
        <div fxFlex='68' class="labelName">{{details.label}}</div>
        <div fxFlex='16' class="editImage">
            <img src="../../assets/images/baseline-create.svg"></div>

    </div>
</div>
<div class="divider">
    <mat-divider></mat-divider>
</div>
<div class="button" (click)="createLabel()" (click)="onNoClick()">
    <button mat-button>Done</button>
</div>