.mat-icon{
    opacity: .54;;
    padding:10px;
}
.name{
    margin-top: 13px;
    font-size: 14px;
    margin-left:2px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
  
}
.heading{
    padding:10px;
}
.button{
    float: right;
    padding:10px;
}
.divider{
    margin-top: 10px;
}

.labelImage{
    margin-top:2px;
    opacity:.54;
}
.editImage{
    opacity: .54;
    margin-top:12px;
    cursor:pointer;
}

.labelName{
    margin-top:15px;
    opacity: .9;
    margin-left: 13px;
}
.labelImage{
    opacity: .54;
    padding: 10px;
    cursor:pointer;
}
.icon{
    opacity: .54;
    cursor:pointer;
}
::placeholder{
    opacity:.9;
}
.checkImage{
    opacity:.54;
    margin-top: 10px;
    cursor:pointer;
}
.column{
    padding:10px;
}
.SvgImage img{ width:50%; height:30%;}


