.mat-icon{
    opacity: .54;;
    padding:10px;
}
.name{
    opacity: .54;;
    margin-top: 2px;
    font-size: 14px;
    //border-bottom:1px solid grey;
    margin-right:70px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
  
}
.heading{
    padding:10px;
}
.button{
    float: right;
    padding:10px;
}
.divider{
    margin-top: 10px;
}
.checkImage{
    opacity: .54;
    padding:10px;
}
.labelImage{
    margin-top:2px;
    
    opacity:.54;
}
.editImage{
    opacity: .54;
    margin-top:12px;
}
.row{
    padding:10px;
}
.labelName{
    margin-top:15px;
    opacity: .9;
    
}

/*.clearImage{
    opacity: .54;;
    padding:10px;
}
.name{
    opacity: .54;;
    margin-top: 15px;
    padding-right: 100px;
}






.labelName{
    opacity:.54;
    margin-left: 10px;
}*/