<div class="main" fxFlex='100' fxLayout="row" fxLayoutAlign="center center">
  <mat-card  fxFlex='30' fxFlex.xs='100'>
      <h1>Sign in</h1>
       <h2>to continue to Fundoo</h2>
    
    <form autocomplete="off">
      <div fxLayout="row">
        <div fxFlex="100">
        <mat-form-field class="field" fxFlex="100" [style.font-size.px]="12"  appearance="outline">
          <mat-label>Email or phone</mat-label>
          <input matInput placeholder="Email or phone" style="font-family:sans-serif" [formControl]="emailFormControl">
          <mat-error  *ngIf="emailFormControl.invalid && emailFormControl.hasError('required')">Email is <strong>required!</strong></mat-error>
          <mat-error  *ngIf="emailFormControl.invalid && emailFormControl.hasError('email')">Email is Invalid!Please enter a valid email</mat-error>
       </mat-form-field>
       </div>
        </div>
        
         <div>
         <div fxFlex="row">
            <!--mat-button-toggle value="bold">Forgot Password?</mat-button-toggle>-->
          <a  color="primary" routerLink="." style="font-size:14px;font-family:sans-serif;text-decoration: none;margin-left:12px">Forgot email?</a>
         </div>
        </div>
        

       <div fxLayout="row">
        <div fxFlex="100">
        <mat-form-field class="field" fxFlex="100" [style.font-size.px]="12"  appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password"type="password" placeholder="Password" style="font-family:sans-serif" [formControl]="passwordFormControl">
          
          <mat-error *ngIf="passwordFormControl.invalid && passwordFormControl.hasError('required')">Password is <strong>required!</strong></mat-error>
          <mat-error *ngIf="passwordFormControl.invalid && passwordFormControl.hasError('minlength')">Password should have minimum 8 characters!</mat-error>
          
       </mat-form-field>
       </div>
        </div>
        
        <div>
            <div fxFlex="row">
             <a  color="primary" routerLink="." style="font-size:14px;font-family:sans-serif;text-decoration: none;margin-left:12px">Forgot password?</a>
             
           </div>
           </div>
        
           <div class="message"fxLayout="row" >Not your computer? Use Guest mode to sign in privately.</div>
           <a color="primary" routerLink="." style="font-family:sans-serif;text-decoration: none;font-size:13px;margin-top: 0%;margin-left:12px">Learn more</a>
           <div>
            <div fxFlex="row" fxLayoutGap="46%">
             <a class="link" (click)="create()"color="primary" routerLink=".">Create account</a>
             <button (click)="login()"class="button" fxFlex="22" mat-raised-button color="primary"  style="font-family:sans-serif">Login</button>
           </div>
           </div>
    
    </form>
  </mat-card>
</div>
