/*.button1{
  width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
 // padding:3px,3px;
  margin:4px;
  background-color:transparent;
  
}
.button1:hover{
    
    border:1px solid black;
}
.button2{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#FA8072;
}
.button2:hover{
    
    border:1px solid black;
}
.button3{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
 //padding:3px,3px;
  margin:4px;
  background-color: #FFA500;
}
.button3:hover{
    
    border:1px solid black;
}
.button4{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color: #FFFF00;
}
.button4:hover{
    
    border:1px solid black;
}
.button5{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#98FB98;
}
.button5:hover{
    
    border:1px solid black;
}
.button6{
width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#AFEEEE;
}
.button6:hover{
    
    border:1px solid black;
}
.button7{
    width: 30px;
      height: 30px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
      font-size: 10px;
      //padding:3px,3px;
      margin:4px;
      background-color:#ADD8E6;
}
.button7:hover{
    
    border:1px solid black;
}
.button8{
      width: 30px;
      height: 30px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
      font-size: 10px;
      //padding:3px,3px;
      margin:4px;
      background-color:#87CEFA;
}
.button8:hover{
    border:1px solid black;
}
.button9{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DDA0DD;
}
.button9:hover{
    border:1px solid black;
}
.button10{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#FFC0CB;
}
.button10:hover{
    border:1px solid black;
}
.button11{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DEB887;
}
.button11:hover{
    border:1px solid black;
}
.button12{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DCDCDC;
}
.button12:hover{
    border:1px solid black;
}*/
.button {
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    margin:4px;
    border-radius:50%;
   
}
.button:hover{
    border:1px solid black;
}