/*.button1{
  width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
 // padding:3px,3px;
  margin:4px;
  background-color:transparent;
  
}
.button1:hover{
    
    border:1px solid black;
}
.button2{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#FA8072;
}
.button2:hover{
    
    border:1px solid black;
}
.button3{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
 //padding:3px,3px;
  margin:4px;
  background-color: #FFA500;
}
.button3:hover{
    
    border:1px solid black;
}
.button4{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color: #FFFF00;
}
.button4:hover{
    
    border:1px solid black;
}
.button5{
    width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#98FB98;
}
.button5:hover{
    
    border:1px solid black;
}
.button6{
width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  //padding:3px,3px;
  margin:4px;
  background-color:#AFEEEE;
}
.button6:hover{
    
    border:1px solid black;
}
.button7{
    width: 30px;
      height: 30px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
      font-size: 10px;
      //padding:3px,3px;
      margin:4px;
      background-color:#ADD8E6;
}
.button7:hover{
    
    border:1px solid black;
}
.button8{
      width: 30px;
      height: 30px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
      font-size: 10px;
      //padding:3px,3px;
      margin:4px;
      background-color:#87CEFA;
}
.button8:hover{
    border:1px solid black;
}
.button9{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DDA0DD;
}
.button9:hover{
    border:1px solid black;
}
.button10{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#FFC0CB;
}
.button10:hover{
    border:1px solid black;
}
.button11{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DEB887;
}
.button11:hover{
    border:1px solid black;
}
.button12{
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    //padding:3px,3px;
    margin:4px;
    background-color:#DCDCDC;
}
.button12:hover{
    border:1px solid black;
}*/
.button {
    width: 30px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    margin:4px;
    border-radius:50%;
   
}
.button:hover{
    border:1px solid black;
}
.heading {
    padding:10px;
    opacity:1;
    font-size: 14px;
    font-family: arial;
    padding-bottom: 10px;
}
.time{
    margin-left:115px;
    opacity:0.9;
    font-family: arial;
}
.day{
    font-family:arial;
    opacity:0.9;
}
.Ttime{
    margin-left:124px;
    opacity:0.9;
    font-family: arial;
}
.Wtime{
  margin-left: 90px;
  opacity:0.9;
  font-family: arial;
}
.schedule{ opacity:.7;}
.detail{margin-left:10px;margin-top: 2px;opacity:0.9;font-family: arial;}
.back{margin-left:10px;margin-right:110px;font-family:arial;font-size:14px;opacity:0.7;margin-top:5px;}
.backimage{opacity:0.7;margin-left:10px;cursor:pointer}
.arrow:hover{cursor:pointer;opacity:0.9;}
.dateinput{
    font-size:10px;
}
::placeholder{
    font-size:12px;font-family:arial;opacity: 0.9;
}
.mat-form-field{
    font-size:12px;font-family:arial;
}
.choosedate{
    font-size:10px;font-family:arial;width:100%;
}
.dateinput{
    margin-left:15px;
    margin-top:10px;
    
}
.timeclass{
    border-bottom:1px solid gray;
    width:78%;
    margin-left:15px;
    opacity:0.54px;
    margin-top:10px;
    

}
.period{
    font-family: arial;
    font-size: 14px;
}
.periodtime{
    font-family: arial;
    font-size: 14px;
}
.timename{
    font-family: arial;
    font-size: 12px;
    
}
.instance{
    margin-left:15px;
    width:78%;
}
.periodname{
    font-family: arial;
    font-size: 12px;
}
.chooseperiod{
    margin-top:10px;
}
.labelHeading{
    font-family:Arial;
    padding:10px;
}
.input{
    padding:10px;
}
.searchIcon{
    margin-top:2px;
    opacity: 0.5px;
}
::ng-deep .material-icons{
    font-size:20px;
    opacity:0.54;
}