
  .heading{
      color:black;
      height:50px;
      display:flex;
      background-color:#fb0;
      font-weight:arial;
      font-size:16px;
      
  }
  .header{
    margin-top:15px;
      margin-left:40px;
  }
 .title{
    
     display:flex;
     margin-top:10px;
 }
  .matcard1{
      display:flex;
      margin-top:50px;
      position:absolute;
      cursor:pointer;
      
  }
  .mat-card:not([class*="mat-elevation-z"]){
    box-shadow: 20px 50px 0px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
   
  }
  
  .add{
    margin-top:250px;
    margin-left:30px;
    font-size:14px;
    font-family: arial;
    color:black;
    cursor:pointer;
    display:flex;
  }
  
  .heading1{
      font-family: arial;
      display:flex;
      font-size:15px;
  }
  .heading2{
    font-family: arial;
    display:flex;
    font-size:15px;
  }
  .advance{
      font-size:11px;
      font-family:sans-serif;
      color:blue;
     
      margin-top:2px;
      display:flex;
  }
  .first{
      font-family:sans-serif;
      font-size:10px;
      margin-top:10px;
      margin-left:3px;
  }
  .second{
    font-family:sans-serif;
    font-size:10px;
    margin-top:10px;
    margin-left:3px;
  }
  .third{
    font-family:sans-serif;
    font-size:10px;
    margin-top:10px;
    margin-left:3px;
  }
 .fourth{
    font-family:sans-serif;
    font-size:10px;
    margin-top:10px;
    margin-left:3px;
    margin-bottom:30px;
 }
 .matcard{
  box-shadow: 20px 50px 1px #fb0,0 0px 0px 0 #fb0,0 0px 0.4px 0 #fb0;
  
}
 