.row{
    margin-bottom: 10px;
}
.center{
    flex-wrap: wrap;

}
.description{
    margin-top: 10px;
}
.scheduleimage{
    height:18px;
    width:18px;
    opacity:0.54;
    margin-right:5px;
}
.matchip{
    margin-top:15px;
}