.row{
    margin-bottom: 10px;
    
}

.description{
    margin-top: 10px;
}
.scheduleimage{
    height:18px;
    width:18px;
    opacity:0.54;
    margin-right:5px;
}
.matchip{
    margin-top:15px;
}
.rowButtons{
    margin-top:10px;
    flex-wrap: wrap

}
.labelname{
    margin-top: 10px;
}
.material-icons{
    margin-top: 0%;
}
.matchip{
    margin-top:5px;
}
.showOn{
    visibility: hidden
}
:hover .showOn{
    visibility: visible;
}
:target .showOn{
    display: block
}
.mat-standard-chip{
    min-height:25px;
}
.questionasked{
    font-size:14px;
    font-family: arial;
    margin-top:10px;
}
.grid{
      .mat-card{
         margin-top:50px;
         width:270px;
         margin-left:10px;
      }
}
 .list{
     .mat-card{
      width:700px;
      margin-top:20px;
      
     }

}
