<div fxLayout="row wrap"  fxLayoutAlign="center center" >
  <div *ngFor="let data of allCards | filter:text">
    <div *ngIf="!data.isDeleted && !data.isArchived">
    <div  [ngClass]="{'grid':!toggle,'list':toggle}">
        <mat-card  [ngStyle]="{'background-color':data.color}" >
        <div fxLayout="row" (click)="openDialog(data)"  >
          {{data.title}}
        </div>
        <div class="description" fxLayout="row" (click)="openDialog(data)">
          {{data.description}}
        </div>
        <div fxLayout="row" fxLayoutGap="2%"  class="rowButtons">
          <div class="matchip" *ngFor="let index of data.noteLabels">
              <mat-chip-list >
                  <mat-chip (click)="openUpdateNotesLabel(index)"style="font-size:11px;font-family: arial;letter-spacing:0in;height:5px"> 
                    <div fxLayout="row">
                    <div style="margin-top:3px">{{index.label}}</div>
                    <mat-icon matChipRemove (click)="removeLabelNote(data.id,index.id,index.label)">cancel</mat-icon>
                  </div>
                </mat-chip>
              </mat-chip-list>
              
          </div>
         
        </div>
        <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="row wrap" style="margin-top:10px">
        <div *ngFor="let collab of data.collaborators ">
       
        <button  mat-mini-fab color="primary" >{{collab.firstName|slice:0:1}}</button>
        </div></div>
        
        
        <div *ngIf="remiderCutOff(data.reminder[0])">
          <div *ngIf="data.reminder.length!=0">
            <div *ngFor="let remin  of data.reminder">
              <mat-chip-list >
              
                <div *ngIf="(today | date:shortDate)==(remin | date:shortDate)" class="matchip">
                  <mat-chip style="font-size:11px;font-family: arial;letter-spacing:0in"><img class="scheduleimage"
                      src="../../../assets/images/outline-schedule-24px.svg"> Today, {{remin | date:'shortTime'}}
                    <mat-icon matChipRemove (click)="removeReminder(data.id,data.reminder)">cancel</mat-icon>
                  </mat-chip>
                </div>
                <div *ngIf="(tomorrow | date:shortDate)==(remin | date:shortDate)" class="matchip">
                  <mat-chip style="font-size:11px;font-family: arial;letter-spacing:0in"><img class="scheduleimage"
                    src="../../../assets/images/outline-schedule-24px.svg"> Tomorrow, {{remin | date:'shortTime'}}
                  <mat-icon matChipRemove (click)="removeReminder(data.id,data.reminder)">cancel</mat-icon>
                </mat-chip>
                </div>
                <div *ngIf="(tomorrow | date:shortDate)!=(remin | date:shortDate) 
                && (today | date:shortDate)!=(remin | date:shortDate)" class="matchip">
                <mat-chip style="font-size:11px;font-family: arial;letter-spacing:0in"><img class="scheduleimage"
                  src="../../../assets/images/outline-schedule-24px.svg">{{remin | date:'mediumDate'}} {{remin| date:'shortTime'}}
                <mat-icon matChipRemove (click)="removeReminder(data.id,data.reminder)">cancel</mat-icon>
              
        </mat-chip>
      </div>

                
              </mat-chip-list>
            </div>
          </div>
        </div>
        <app-icon [cards]="data" class="showOn" (Event)="eventOccur()"></app-icon>
        <div *ngIf="data.questionAndAnswerNotes.length!=0">
        <mat-divider></mat-divider>
        <div class="questionasked">
          <div >Question Asked</div>
          <div  [innerHtml]='data.questionAndAnswerNotes[0].message'></div>
        </div>
        </div>
      </mat-card>
      </div>
    </div>
  </div>
</div>