.collaborators{
    font-weight:bold;
    font-family: Arial;
    font-size: 18px;
}
.divider{
    margin-top: 10px;
}
.minifabbutton{
    margin-top: 15px;
}
.row{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold
    
}
.email{
    margin-left: 10px;
    font-size: 13px;
    
}
.owner{
    font-style:italic;
    font-weight: normal;
    letter-spacing: 0in
}
.image{
    opacity:0.7;
    
}
.collaborator{
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold
}
.matinput{
    margin-top:2px;
}
.bottom{
    margin-top:30px;
    float:right;
    font-family: arial;
}
.collabemail{
    margin-top:30px;
    font-family: arial;
    font-size: 13px;

}
.clear{
    margin-left:100px;
    margin-top:25px;
    opacity:0.5;
}
.collaboratorrow{
   
    margin-top: 15px;
    font-size: 13px;
    font-family: arial;
}
.collabemail{
    margin-top:10px;
    margin-left:10px;
}
.clearimage{
    opacity:0.7;
    height:5px;
    width:5px;
    cursor:pointer;
    margin-top:10px;
}
