<div class="collaborators">
  Collaborators
</div>
<div class="divider">
  <mat-divider></mat-divider>
</div>
<div fxLayout="row">
  <button class="minifabbutton" mat-mini-fab  *ngIf="image2!=''" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"></button>
  <div fxLayout="column">
    <div fxLayout="row" class="row" fxLayoutGap='3%'>
  <div>{{firstName}}</div>
  <div>{{lastName}}</div>
  <div class="owner">(owner)</div>
</div>
  <div class="email">{{email}}</div>
</div>

</div>
<div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row" fxLayoutGap="2%" class="collaborator">
    <button mat-icon-button class="matbutton">
    <img class="image" src="../../../assets/images/baseline-person_add-24px.svg"></button>
    <input [matMenuTriggerFor]="searchMenu" [(ngModel)]="searchValue" (keyup)="searchUsers()" class="matinput" matInput placeholder="Person or email to share with">
    <img class="checkImage" *ngIf="searchValue" src="../../../assets/images/outline-check.svg">
  </div>
   <mat-menu #searchMenu="matMenu">
     <div *ngFor="let index of searchArray">
       <button  mat-button (click)="select(index.email)">{{index.firstName}} {{index.lastName}} {{index.email}}</button>
     </div>
   </mat-menu>
   <div class="bottom">
     <div fxLayout="row">
       <button mat-button>Cancel</button>
       <button mat-button>Save</button>
     </div>
   </div>