.description{
    padding:20px;
    font-style: 'arial';
    font-size:14px;
    letter-spacing: 0.05em;
    line-height: 15pt;
    opacity:0.9;
}
.deleteicon{
    float:right;
    color:blue;
    padding:10px;
}
.cancelIcon{
    padding:10px;
}