
.main{
    height: -webkit-fill-available;
    margin-top:50px;
    
   }

.mat-divider{
    margin-top:10px;
}
.question{
    margin-top:30px;
}
.statement{
    margin-top:20px;
}
.editor{
    margin-top:20px;
}
.questionbutton{
    margin-top:20px;
    float:right;
}
.title{
    margin-top:7px;
   
}
.questionasked{
    margin-top:30px;
    
}
.row{
    margin-top:30px;
}
.minifabbutton{
    margin-top:30px;
}
.date{
  font-size:12px;
  font-family:arial;
}
.firstName{
    font-size:14px;
    font-family:arial;
}
.lastName{
    font-size:14px;
    font-family:arial;
}
.questiondata{
    font-size:16px;
    font-family:arial;
    margin-top:30px;
    font-weight: bold;
}
.replyimage{
    margin-top:19px;
    cursor: pointer;
}
.thumbsup{
    margin-left:5px;
    margin-top:19px;
    cursor: pointer;
}
.questiondata1{
    font-size:14px;
    margin-top:10px;
    font-family:arial;
    font-weight:bold;
}
.replybutton{
   margin-left:2px;
}
.likenumber{
    margin-left:2px;
}
.icon{
    
    margin-left:50px;
}
.likeddetails{
    margin-left:10px;
    margin-top:21px;
}
.barrating{
    margin-left:5px;
}
.ratenumber{
    margin-top:21px;
}
.questiondata2{
    font-size:14px;
    margin-top:10px;
    font-family:arial;
    margin-left:77px;
}
.row2{
    margin-left:20px;
}