.main{
    display:flex;
}


.matchip{
    background-color: #fb0;
     color:white;
     
}
.matchiplist{
    padding-top:20px;
    padding-left: 70px;
}
.mat-slider {
    width: 400px;
    
  }
.mat-card{
    border-radius:8px;
    width: 34px;
    height: 40px;
    
}
.matcard{
    margin-left:70px;
    margin-top:10px;
    
}
.matcard1{
    background-color:lightgrey;
}
.a1{
    margin-left:10px;
}
.a2{
    margin-left:10px;
   
}
.matcard2{
    margin-left:5%;
    width:180px;
    border-radius:4px;
    
}
.mat-stroked-button{
    line-height:20px;
    background-color:dodgerblue;
    color:white;
}
.matcard3{
margin-left:70px;
width:600px;
height:200px;
margin-top:10px;
border-radius:0px;
}
.rectangle{
    width: 400px;
    height:50px;
    border:1px solid grey;
    margin-top:5px;
    margin-left:40px;
}
.matcard4{
    margin-left:5%;
    width:180px;
    border-radius:4px;
    
}
.matcard5{
margin-left:70px;
width:600px;
height:100px;
margin-top:10px;
border-radius:0px;
}
.labels{
    padding-left:30px;
}