<div fxFlex='100'>
<mat-card  class="header" style="background-color:#fb0">
  <div fxLayout="row" fxLayoutGap="48%">
  <div class="heading">Advance Pack Details</div>
  <div class="price">$6.99/Month</div>
</div>
</mat-card>
<div fxLayout="row">
<mat-tab-group mat-stretch-tabs> 
  <mat-tab class="content1" label="Feature1">Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text, this is simply copy that serves to fill a space without actually saying anything meaningful.  </mat-tab>
  <mat-tab class="content2" label="Feature2">Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter  </mat-tab>
  <mat-tab class="content3" label="Feature3"> Fillerama takes inspiration from cult scripts including Star Wars, Dr Who, Futurama, The Simpsons and Monty Python and the Holy Grail:  </mat-tab> 
</mat-tab-group>
</div>
 <div fxLayout="row" class="buttons" fxLayoutGap="50%">
<button  mat-raised-button color="primary" >Remove</button>
<button  mat-raised-button  color="primary" (click)="proceedToCart()">Proceed To Checkout</button>
</div>
</div>